@import "../../../common/styles/variables";
.loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: $color_white;
  opacity: 0.6;
  z-index: 10;

  .position {
    left : 50%;
    top : 50%;
    position : absolute;
    z-index : 11;
    margin-left: -18px;
    margin-top: -18px;
  }
}